body {
    width: 100vw;
}
    .container {
        display: inline-block;
        width: 90%;
        margin: 0 5%;
        color: #fff;
        background-color: black;
    }
        .standart-size {
            display: inline-block;
            width: 1200px;
            text-align: center;
            margin: 50px calc(50% - 600px) 0;
            
        }
        .features {

        }
            .featur-div {
                display: inline-block;
                width: 100%;
            }
                .featur-div  > div {
                    display: inline-block;
                    width: 50%;
                    float: left;
                }
        .how-to {
            display: inline-block;
            width: 100%;
        }
            .how-to > div {
                display:inline-block;
                width: 50%;
                float: left;
            }
        .comments {
            display: inline-block;
            width: 100%
        }
            .comments > div {
                display: inline-block;
                width: calc(100% / 3);
                float: left;
            }
        footer {
            display: inline-block;
            width: 100%;
        }
    @media (max-width: 1350px) {
        .standart-size {
            width: 800px;
            margin: 0 calc(50% - 400px);
        }
    }
    @media (max-width: 1000px) {
        .standart-size {
            width: 600px;
            margin: 0 calc(50% - 300px);
        }
    }
    @media (max-width: 700px) {
        .standart-size , 
        .featur-div  > div ,
        .how-to > div , 
        .comments > div {
            width: 100%;
            margin: 0 ;
        }
        .container {
          text-align: center;
    }
}
        /* HERO */
 .hero {
     margin-bottom: 50px;
    
 }
    .hero > img {
        display: inline-block;
        width: 100%;
        margin: 40px 0;
    }
        @media (min-width: 1000px) {
            .hero > img {
                width: 60%;
        }
        }
        h1 {
            margin-bottom: 20px;
            font-size: 45px;
            line-height: 50px;
        }
        p {
            margin-bottom: 40px;
            color: #eeee;
        }